
@{
    ViewBag.Title = "Colors";
}

<main>
    <section>
        <article>
            <h2>
                Color Demos
            </h2>
            <p id="colordemo1"><span>Hexidecimal: </span> This is an example of hexadecimal</p>
            <p id="colordemo2"><span>Hex Shorthand: </span>This is an example of hexadecimal shorthand</p>
            <p id="colordemo3"><span>RGB: </span>This is an example of RBG</p>
            <p id="colordemo4"><span>RGBA: </span>This is an example to RBGA</p>
            <p id="colordemo5"><span>Named Color: </span>This is an example of named color.</p>
        </article>
        <article>
            <h2>
                Color Gradients
            </h2>
            <p id="colorgradient1"><span>Linear Gradient:</span>This is a linar gradient.</p>
            <p id="colorgradient2"><span>Radial Gradient:</span>This is a radial gradient.</p>
        </article>
    </section>
</main>

