
@{
    ViewBag.Title = "Css";
}

<main>
    <section>
        <!--core content, separate from aside sidebar-->
        <article>
            <h2>Different Ways to Apply CSS</h2>

            <section>

                <h3 class="headingStyle">Inline Style</h3>

                Inline styles use the STYLE attribute inside an HTML tag...
                Usually avoided (except for formatting assigned through JavaScript)

                because it's not reusable. Uses semi-colon-separated, CSS property-value

                pairs in the style attribute's value.

                Highest in terms of proximity and specificity, least re-usable.

            </section>
            <section>

                <h3 class="headingStyle">Internal Style</h3>

                Internal style is defined inside the HEAD tag of a page

                (not header tag). Reusuability is only for that page. Not often used.

                Second in terms of proximity and specificity is determined by selectors used in each rule set.

            </section>
            <section>

                <h3 class="headingStyle">External Style</h3>

                External style is defined as a link inside the HEAD block of a page

                (not header). Actual styles are in that linked CSS file.

                Reusuability can be for whole site. Best practice.

                Least in terms of proximity and specificity is determined by selectors used in each rule set.

            </section>
            <section>

                <h3 class="headingStyle">Imported Style</h3>

                Imported style is defined as an import url() statement at the top

                of an external style sheet. Actual CSS is in that linked CSS file.

                Reusuability is for the whole site. This practice is largely depricated but can be seen in legacy code.
            </section>
        </article>
        <article>
            <h2>CSS Selectors</h2>
            <section>
                <h3 class="headingStyle">By Element/Tag Name</h3>
                Ex: ul or li
            </section>
            <section>
                <h3 class="headingStyle">By Class</h3>
                Ex: Call it by adding
                the class attribute to a tag. Can be used multiple times
                per page. Define it in the CSS using period prefix (.)
            </section>
            <section>
                <h3 class="headingStyle">By ID</h3>
                Ex: Call it by adding
                the ID attribute to a tag. Can be used one time
                per page. Define it in the CSS using hashtag prefix (#)
            </section>
        </article>
    </section>
    <aside>
        <h2 id="asideHeader"> External Resources</h2>
        <ul>
            <li><a href="https://www.w3schools.com/css/default.asp">W3Schools (Links to an external site.) CSS</a></li>
        </ul>
    </aside>
</main>

