
@{
    ViewBag.Title = "Fonts";
}

<main>
    <section>
        <article>
            <h2>
                Fonts
            </h2>
            <p id="fontdemo1">
                Fonts allow us to change the look and feel of a site. By default, the browser applies a font that we did not specify. Typically, we override this default functionality with fonts of our own. This can be done with a number of fonts built into the IDE or we can import fonts from outside resources.
            </p>
            <p id="fontdemo2">
                Cupcake ipsum dolor sit amet chocolate bar chocolate wafer. Toffee biscuit biscuit caramels gummi bears. Croissant tootsie roll gingerbread cake. Icing powder biscuit tiramisu sweet roll.
            </p>
            <p id="fontdemo3">
                Cupcake ipsum dolor sit amet candy canes cotton candy powder sweet. Halvah oat cake chocolate bar candy canes jelly beans chocolate bar. Donut icing candy canes. Tart toffee tootsie roll marzipan pastry.
            </p>
            <p id="fontdemo4">
                Cupcake ipsum dolor sit amet biscuit toffee gummies jelly beans. Pie chocolate bar gummi bears. Chupa chups liquorice biscuit tootsie roll pudding brownie muffin. Oat cake donut icing sugar plum tart soufflé.
            </p>
            <p id="fontdemo5">
                Cupcake ipsum dolor sit amet gummies candy chocolate bar toffee. Biscuit cookie jelly beans sweet cotton candy macaroon candy canes dessert. Chocolate bar chocolate bar chocolate bar toffee macaroon gummi bears halvah cotton candy caramels.
            </p>
        </article>
    </section>
</main>

