
@{
    ViewBag.Title = "Images";
}

<main>
    <section>
        <article>
            <h2>
                Images
            </h2>
            <p>
                Implementing images on a site makes the content more engaging and can sometimes help deliver ideas in a more concise manner. There are 3 primary image types that are widely used in development.
            </p>
            <section>
                <h3>
                    JPG or JPEG
                </h3>
                <ul>
                    <li>
                        Highly compressed
                    </li>
                    <li>
                        The standard for many image formats because they are a good comprimise between quality and size.
                    </li>
                    <li>
                        Lossy compression: making changes and resaving the file results in a degredation of image quality.
                    </li>
                    <li>
                        Do not support animation.
                    </li>
                    <li>
                        Do not support transparency.
                    </li>
                </ul>
            </section>
            <section>
                <h3>
                    GIF
                </h3>
                <ul>
                    <li>
                        Lossless compression
                    </li>
                    <li>
                        Small file size, but poor image quality.
                    </li>
                    <li>
                        They support transparency.
                    </li>
                    <li>
                        They support animation.
                    </li>
                </ul>
            </section>
            <section>
                <h3>
                    PNG
                </h3>
                <ul>
                    <li>
                        Very high quality and have a large file size.
                    </li>
                    <li>
                        Lossless compression
                    </li>
                    <li>
                        Do not support animation.
                    </li>
                    <li>
                        They do support transparency.
                    </li>
                </ul>
            </section>
        </article>
        <article>
            <h2>
                Image Gallery
            </h2>
            <div>
                <img src="~/Content/images/goran-ivos-246271-unsplash-web.jpg" alt="Laptop on a chair" />
            </div>
            <div>
                <img src="~/Content/images/markus-spiske-507983-unsplash.jpg" width="400" height="267" alt="Coding words" />
            </div>
        </article>
    </section>
</main>

