
@{
    ViewBag.Title = "Tables";
}

<main>
    <section>
        <article>
            <h2>
                HTML Tables
            </h2>
            <p>
                Tables allow us to structure content on a page in a logical, well-formatted manner, much like an Excel file. They use a containing table tag with a thead, tbody, and optional tfoot. Each section contains tr (table row) and td (table detail) container tags that contain the content to display.
            </p>
            <table>
                <thead>
                    <tr>
                        <th colspan="3">
                            Common Web Languages
                        </th>
                    </tr>
                    <tr>
                        <th>
                            Technology
                        </th>
                        <th>
                            Purpose
                        </th>
                        <th>
                            Web Link
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            HTML
                        </td>
                        <td>
                            Page Content and Structure
                        </td>
                        <td>
                            <a href="http://w3schools.com/html">W3Schools HTML</a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            CSS
                        </td>
                        <td>
                            Styling and Layout
                        </td>
                        <td>
                            <a href="http://w3shools.com/css">W3 Schools CSS</a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            JavaScript
                        </td>
                        <td>
                            Interactivity and Validation
                        </td>
                        <td>
                            <a href="http://w3schools.com/js">W3Schools JS</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </article>
    </section>
</main>

